/* font-poppins imported */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.top-margin{
    margin-top:12%;
}


.nav-link{
    background-color: rgba(192, 188, 188, 0.048);
}
.nav-link:hover{
    background-color: rgba(192, 188, 188, 0.226);
}

.carousel{
    width:95%;
    
}
.carousel-item{
    background-color: black;
}

.carousel-item img{
    width:100%;
    height:80vh;
    object-fit: cover;
    opacity: 0.7;
}

.carousel-caption{
    bottom:25%;
}
.enroll-btn{
    right:-2%;
    bottom:25%;
    transform: rotate(-35deg);
}

.pinned-img{
    top:-5%;
    left:45%;
    
}
.pinned-img img{
    width:8%;
    mix-blend-mode: multiply;
    top:10px;
    filter: grayscale(100%);
}

.brand img{
    width:12%;
}
.ask-ans{
    font-family: "Poppins", sans-serif;
}

/* ========================-<Media Quries>-=========================== */

/* Mobile media queries */
@media screen and (max-width: 688px) {
    .carousel{
        width: 100%;
    }
    .carousel img{
        height: 50vh;
    }
    .carousel-caption{
        bottom:0%;
    }

}
/* tablet device  */
@media screen and (min-width:689px) and (max-width:992px){
    .carousel{
        width:90%;
    }
    .carousel img{
        height: 60vh;
    }
    .carousel-caption{
        bottom:15%;
    }
}